
.icon-wick-civic-responsibility {
	background-image: url('png/wick-civic-responsibility.png');
	background-repeat: no-repeat;
}

.icon-wick-civic-responsibility {
	background-image: url('png/wick-civic-responsibility.png');
	background-repeat: no-repeat;
}

.icon-wick-communal-effort {
	background-image: url('png/wick-communal-effort.png');
	background-repeat: no-repeat;
}

.icon-wick-decommodification {
	background-image: url('png/wick-decommodification.png');
	background-repeat: no-repeat;
}

.icon-wick-gifting {
	background-image: url('png/wick-gifting.png');
	background-repeat: no-repeat;
}

.icon-wick-immediacy {
	background-image: url('png/wick-immediacy.png');
	background-repeat: no-repeat;
}

.icon-wick-leaving-no-trace {
	background-image: url('png/wick-leaving-no-trace.png');
	background-repeat: no-repeat;
}

.icon-wick-participation {
	background-image: url('png/wick-participation.png');
	background-repeat: no-repeat;
}

.icon-wick-radical-inclusion {
	background-image: url('png/wick-radical-inclusion.png');
	background-repeat: no-repeat;
}

.icon-wick-radical-self-expression {
	background-image: url('png/wick-radical-self-expression.png');
	background-repeat: no-repeat;
}

.icon-wick-radical-self-reliance {
	background-image: url('png/wick-radical-self-reliance.png');
	background-repeat: no-repeat;
}